{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<main class="page-center">
    <div class="content-box">
        <h2>📘 About Notes Management App</h2>

        <p>
             <strong> The Notes Management App is a secure and user-friendly
            web application designed to help users create, manage, and organize
            their personal notes efficiently.</strong>
        </p>

        <p>
            It supports user authentication, ensuring that notes remain private
            and accessible only to the logged-in user.
        </p>

        <h3>✨ Key Features</h3>
        <ul>
            <li>📝 Create, update, and delete notes</li>
            <li>🔐 Secure login & registration</li>
            <li>🔍 Search notes instantly</li>
            <li>👤 User-specific private notes</li>
            <li>📱 Responsive design</li>
        </ul>

        <h3>⚙️ Technology Stack</h3>
        <ul>
            <li>Backend: Flask (Python)</li>
            <li>Database: MySQL</li>
            <li>Frontend: HTML & CSS</li>
        </ul>
    </div>
</main>
{% endblock %}
